
.button-cart {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #f3f3f3c8;
    color: #121212;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    
}
.button-cart:hover {
    background-color: #ffffff;
    transition: 0.5s;
}
