.tabela-scroll,
.table-scroll {
  max-height: 300px; /* altura aproximada para 5 linhas */
  overflow-y: auto;
  overflow-x: hidden;
}

/* melhora o visual da barra de rolagem */
.tabela-scroll::-webkit-scrollbar,
.table-scroll::-webkit-scrollbar {
  width: 8px;
}

.tabela-scroll::-webkit-scrollbar-thumb,
.table-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

